<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Check PC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">

</head>
<body>
 <div class="container">

        <h1 style="text-align: center">Check PC</h1>

        <div class="form" >
            <form action="/checkPcResults" method="POST">

                <label for="maker"> Manufacturer </label><br>
                <input type="text" name="maker" id="maker" required><br><br>

                <label for="model"> Model number</label><br>
                <input type="text" name="model" id="model" required><br><br>

                <label for="speed"> Speed </label><br>
                <input type="text" name="speed" id="speed" required><br><br>

                <label for="ram"> RAM</label><br>
                <input type="text" name="ram" id="ram" required><br><br>

                <label for="hd"> Hard-disk size</label><br>
                <input type="text" name="hd" id="hd" required><br><br>

                <label for="price"> Price of a new PC</label><br>
                <input type="text" name="price" id="price" required><br><br>

                <input class="btn" type="submit" value="Look up">

            </form>
        </div>
    </div>

<button class="btn" type="submit" value=" Go Back!"> <a style="text-decoration:none"href="/"> Go Back to main page! </a></button>

</body>
</html>