<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Find System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">


</head>
<body>
<div class="container">

        <h1 style="text-align: center">Find System</h1>

        <div class="form" >
            <form action="/systemresults" method="POST">
                <label for="budget">Budget (PC plus Printer):</label><br>
                <input type="text" name="budget" id="budget" required><br><br>

                <label for="speed">PC Minimum Speed:</label><br>
                <input type="text" name="speed" id="speed" required><br><br>

                <input class="btn" type="submit" value="Look Up">
            </form>
        </div>
    </div>

<button class="btn" type="submit" value=" Go Back!"> <a style="text-decoration:none" href="/"> Go Back to main page! </a></button>

</body>
</html>
