<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <style>

    .container_{
          text-decoration: none;
          max-width: 800px;
          display: flex;
          Justify-content:space-between;
          Align-items:center;}

       .btn_h{
          font-family: Arial, Helvetica, sans-serif;
          display: flex;
          Justify-content:center;
          font-size:80px;
          padding: 100px 100px;
          margin-top: 5px;}
    </style>

</head>
<body>

    <h1 style="text-align: center">Home page: Assignment 5</h1><br>

     <div class="container_">

              <a href="/pcsearch" style="text-decoration:none"> <button class="btn_h" type="submit" value=" A" > A </button></a>
              <a href="/laptopMinRequirement" style="text-decoration:none"> <button class="btn_h" type="submit" value=" B"> B </button></a>
              <a href="/manufacturer_products" style="text-decoration:none"> <button class="btn_h" type="submit" value=" C"> C </button></a>
              <a href="/findsystem" style="text-decoration:none"> <button class="btn_h" type="submit" value=" D"> D </button></a>
              <a href="/checkpc" style="text-decoration:none"> <button class="btn_h" type="submit" value=" E"> E </button></a>
     </div>


</body>
</html>