<!DOCTYPE html>
<html lang="en" >
    <head>
        <title>PC Results</title>
<!--        <link rel="stylesheet" href="./style.css">-->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    </head>
    <body>
      <div class="container">
        <h1 style="text-align: center">PC search results</h1>
          <table>
        <tr>
            <th>Maker</th>
            <th>Model_Number</th>
            <th>Speed</th>
        </tr>
        {% for result in results %}
            <tr>
                <td>{{ result[0] }}</td>
                <td>{{ result[1] }}</td>
                <td>{{ result[2] }}</td>
            </tr>
        {% endfor %}
    </table>
      </div>
    </body>
</html>