<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> PC Search </title>
<!--    <link rel="stylesheet" href="./style.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">

</head>
<body>
    <div class="container">

        <h1 style="text-align: center">PC Search</h1>

        <div class="form" >
            <form action="/pcresults" method="POST">
                <input type="text" name="content" id="content">
                <input class="btn" type="submit" value="Search">
            </form>
        </div>
    </div>

</body>
</html>
